        * {
            box-sizing: border-box;
        }
        
        * {
            margin: 0px;
        }
        
        body {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.5;
            color: #272424;
            overflow-x: hidden;
        }
        
        nav {
            height: 100% !important;
        }
        
        .nav-wrapper {
            background-color: rgb(170, 19, 19);
            height: 50%;
            padding: 25px 50px 75px 25px;
        }
        
        .nav-wrapper ul li {
            padding-right: 30px;
        }
        
        .nav-wrapper ul li a {
            margin-left: 15px;
            margin-top: 5px;
            font-size: 18px;
        }
        
        .carousel {
            height: 500px !important;
        }
        
        .container {
            width: 1280px;
            margin: 0 auto;
        }
        
        .product-image {
            min-width: 233px;
            min-height: 240px;
        }
        
        .product-image img {
            max-width: 100%;
        }
        
        .product-name {
            margin: 10px 0;
        }
        
        .header1 {
            color: #373535;
            font-size: 20px;
            line-height: 1.125;
            font-family: "Dodo Medium", Helvetica, Arial, sans-serif;
        }
        
        .product-description {
            font-size: 15px;
            line-height: 1.35;
            color: #878686;
            font-family: "Lato Regular", Helvetica, Arial, sans-serif;
            padding-bottom: 30px;
        }
        
        .product-controls {
            position: absolute;
            width: 100%;
        }
        
        .product-size {
            float: left;
            padding-top: 15px !important;
            height: 100px !important;
        }
        
        .money {
            font-size: 25px;
            white-space: nowrap;
            font-family: "Dodo Medium", Helvetica, Arial, sans-serif;
        }
        
        .category {
            padding-top: 50px;
        }
        
        .product {
            height: 500px !important;
            padding: 0;
        }
        
        .product-cart {
            height: 50px;
            width: 100%;
            padding-top: 15px !important;
        }
        
        .account {
            padding-top: 150px;
            text-align: center;
        }
        
        .account-header {
            font-size: 25px;
        }
        
        .material-icons {
            font-size: 40px !important;
        }
        
        .form-field {
            margin-left: 500px !important;
        }
        
        hr {
            height: 10px;
            border: none;
            background-color: rgb(170, 19, 19);
        }
        
        .product-to-cart i {
            color: rgb(170, 19, 19);
        }
        
        .size input {
            width: 50px !important;
            height: 30px !important;
            font-size: 10px;
            float: left;
        }
        
        .table>tbody>tr>td,
        .table>tfoot>tr>td {
            vertical-align: middle;
        }
        
        @media screen and (max-width: 600px) {
            table#cart tbody td .form-control {
                width: 20%;
                display: inline !important;
            }
            .actions .btn {
                width: 36%;
                margin: 1.5em 0;
            }
            .actions .btn-info {
                float: left;
            }
            .actions .btn-danger {
                float: right;
            }
            table#cart thead {
                display: none;
            }
            table#cart tbody td {
                display: block;
                padding: .6rem;
                min-width: 320px;
            }
            table#cart tbody tr td:first-child {
                background: #333;
                color: #fff;
            }
            table#cart tbody td:before {
                content: attr(data-th);
                font-weight: bold;
                display: inline-block;
                width: 8rem;
            }
            table#cart tfoot td {
                display: block;
            }
            table#cart tfoot td .btn {
                display: block;
            }
        }
        
        .cart {
            padding-top: 50px !important;
        }
        